.MuiContainer-root {
    padding: 2rem;
}

.MuiTypography-h2 {
    text-align: center;
}

.MuiCard-root {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px, rgba(0, 0, 0, 0.14) 0px 1px 0px;
}

.MuiCardMedia-root {
    height: 200px;
}
.aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--12 {
    float: left;
    clear: none;
    width: 100%;
}

.whats-hot-panel.whats-hot-dark-panel {
    background-color: #000;
}
.whats-hot-panel .whats-hot-card-title {
    margin-bottom: 2rem;
}
.align-items-center {
    -ms-flex-align: center !important;
    -webkit-box-align: center !important;
    align-items: center !important;
}
.col-6, .col-7 {
    -webkit-box-flex: 0;
}
.whats-hot-panel.whats-hot-dark-panel .whats-hot-section-heading {
    color: #fff;
}

@media screen and (min-width: 1200px) {
    .whats-hot-panel.whats-hot-dark-panel .whats-hot-slider, .whats-hot-panel.whats-hot-light-panel .whats-hot-slider {
        overflow: hidden;
        padding: 8px 31px;
        margin-left: -31px;
        margin-right: -31px;
    }
}
